.animation-container {
	width: 100%;
	height: 100%;
	justify-content: center;
	justify-items: center;
}

.animation-container svg {
	display: block;
	margin: 10px auto;
	width: 140px;
	height: 140px;
	transform: rotate(-90deg);
}

.animation-container #default {
	fill: #ff1700;
}

.animation-container #elapsed {
	stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
	stroke-dashoffset: 450;
	stroke: #06ff00;
}

.animation-container #bg {
	fill: var(--background-secondary);
}

.custom-view-container {
	display: flex;
	flex-direction: column;
}

.time-container {
	margin: auto;
	font-size: 1.35rem;
	translate: 0px -93px;
}

.btn-container {
	margin-top: 1vh;
	display: flex;
	justify-content: center;
	translate: 0px -40px;
}

.btn-container button {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}
