.animation-container {
	width: 100%;
	height: 100%;
	justify-content: center;
	justify-items: center;
	margin-top: 1vh;
}

.animation-container svg {
	display: block;
	width: 170px;
	height: 170px;
	transform: rotate(-90deg);
}

.animation-container .elapsed {
	stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
	stroke-dashoffset: 450;
}

.animation-container .bg {
	fill: var(--background-secondary);
}

.pomodoro-timer-view-container {
	display: flex;
	flex-direction: column;
}

.mode-container {
	margin: auto;
	translate: 0px -120px;
}

.time-container {
	margin: auto;
	font-size: 1.3rem;
	translate: 0px -110px;
}

.btn-container {
	margin-top: 1vh;
	display: flex;
	justify-content: center;
	translate: 0px -40px;
}

.btn-container button {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}

.btn-container button:hover {
	background-color: rgba(255, 255, 255, 0.05);
}
